.contact-us-section {
    background-color: #83aff0;
    padding: 60px 0;
}

.contact-us-section h2 {
    font-size: 2.7rem;
    font-family: "Electrolize", sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    color: #00509E;
}


.form-container {
    padding-left: 25%;
    padding-right: 25%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.form-control {
    resize: none;
    height: 150px;
}

.btn {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #00509E;
    color: #fff;
}

.btn:hover {
    background-color: #003366;
}